<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
    
        <title>Home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    
    <body>
    
        <h1>Contatos - Listar</h1>
        
        <table>
        
        	<thead>
        		<tr>
					<td><b>Nome</b></td>
					<td><b>E-mail</b></td>
					<td><b>Telefone</b></td>
					<td><b>Ativo</b></td>
					<td><b>Opções</b></td>
        		</tr>
        	</thead>
        		
        	<tbody>
        		<tr th:each="contato : ${contatos}">
					<td th:text="${contato.nome}">Nome</td>
					<td th:text="${contato.email}">E-mail</td>
					<td th:text="${contato.telefone}">Telefone</td>
					<td th:text="${contato.ativo}">Ativo</td>
					<td>
						<div>Editar</div>
						<div>Remover</div>
					</td>
        		</tr>
        	</tbody>
        
        </table>
        
    </body>
    
</html>