<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		
		<title>Listagem</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<script th:src="@{/js/bootstrap.min.js}"></script>
		
		<link rel="stylesheet" type="text/css" th:href="@{/icons/css/all.min.css}">
		
	</head>
	
	<body>
		
		<div th:insert="fragments/default :: header"></div>
		
		<div class="my-4"></div>
		
		<div class="container">
		
			<table class="table table-hover">
				
				<thead>
					<tr>
						<td><b>#</b></td>
						<td><b>Nome</b></td>
						<td><b>E-mail</b></td>
						<td><b>Telefone</b></td>
						<td><b>Ativo</b></td>
						<td><b>Opções</b></td>
					</tr>
				</thead>
					
				<tbody>
					<tr th:each="contato : ${contatos}">
						<td th:text="${contato.id}">#</td>
						<td th:text="${contato.nome}">Nome</td>
						<td th:text="${contato.email}">E-mail</td>
						<td th:text="${contato.telefone}">Telefone</td>
						<td>
							<i class="fas fa-check" th:if="${contato.ativo}"></i>
							<i class="fas fa-times-circle" th:if="${not contato.ativo}"></i>
						</td>
						<td>
							<a class="mx-1" th:href="@{ 'editar/' + ${contato.id} }">
								<i class="fas fa-user-edit" data-toggle="tooltip" title="Editar" data-placement="top"></i>
							</a>
							<a class="mx-1" th:href="@{ 'desativar/' + ${contato.id} }" th:if="${contato.ativo}">
								<i class="fas fa-user-minus" data-toggle="tooltip" title="Desativar" data-placement="top"></i>
							</a>
							<a class="mx-1" th:href="@{ 'excluir/' + ${contato.id} }">
								<i class="fas fa-user-times" data-toggle="tooltip" title="Excluir" data-placement="top"></i>
							</a>
						</td>
					</tr>
				</tbody>
			
			</table>
		
		</div>
		
	</body>
	
</html>