<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		
		<title>Home page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<script th:src="@{/js/bootstrap.min.js}"></script>
		
	</head>
	
	<head>
		
		<title>Home page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	</head>
	
	<body>
		
		<h1>Contatos - Listar</h1>
		
		<table>
			
			<thead>
				<tr>
					<td><b>#</b></td>
					<td><b>Nome</b></td>
					<td><b>E-mail</b></td>
					<td><b>Telefone</b></td>
					<td><b>Ativo</b></td>
					<td><b>Opções</b></td>
				</tr>
			</thead>
				
			<tbody>
				<tr th:each="contato : ${contatos}">
					<td th:text="${contato.id}">#</td>
					<td th:text="${contato.nome}">Nome</td>
					<td th:text="${contato.email}">E-mail</td>
					<td th:text="${contato.telefone}">Telefone</td>
					<td th:text="${contato.ativo}">Ativo</td>
					<td>
						<a th:href="@{ 'editar/' + ${contato.id} }">Editar</a>
						<a th:href="@{ 'desativar/' + ${contato.id} }" th:if="${contato.ativo}">Desativar</a>
						<a th:href="@{ 'excluir/' + ${contato.id} }">Excluir</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</body>
	
</html>